<div class="container">

  <p>Double Message is a personal relationship management tool that allows users to send emails and texts from the same platform.</p>

  <p>The main goal of this project was to learn to utilize twilio and sendgrid.</p>

  <p>Source: <a href="">URL</a></p>


</div>
