<div class="container">

  <div class="row">

    {{#if error}}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
    {{/if}}

    <div class="inner">
      <form method="post" style="max-width: 300px; margin: auto; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
        <div class="form-group frontaction">
          <label>Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username" value="{{contact.name}}">
        </div>
        <div class="form-group frontaction">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" value="{{contact.phone}}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary col-xs-12">Login</button>
          <a class="btn btn-primary col-xs-12" href='/auth/facebook'>Login with Facebook</a>
          <a class="btn btn-primary col-xs-12" href='/signup'>Register Here</a>
        </div>
      </form>

    </div>

  </div>

</div>
