body {
  /*overflow: hidden;*/
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 94px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  /*color: white;*/
}

a {
  color: #00B7FF;
}

hr {
  width: 100%;
}

.parent {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%
}

.navbar-default {
    border-color: #ddd;
    border-top: solid 6px #34495e;
    padding: 8px 0px;
}

.panel-default > .panel-heading {
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 15px;
    background-color: #34495e;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 1.2em;
}

.btn {
    border-radius: 2px;
}

.btn-primary {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
}

.bg-wrapper {
  position: absolute ;
  height: 92%;
  width: 93%;
  /*border: 1px solid green;*/
}

.mainContainer {
  position: absolute;
  display: block;
  top: 50%;
  text-align: center;
  padding: 15px 15px 15px 15px;
  /*border: 1px solid blue;*/
  transform: translate(0%, -60%);
  background: rgba(0, 0, 0, 0.25);
}

.frontaction {
  /*text-overflow: ellipsis;
  overflow: hidden;*/
}

.sendMessage {
  /*background: rgba(0, 0, 0, 0.25);*/
  background: lightblue;
  margin: 5px;
}

.receiveMessage {
  /*background: rgba(0, 0, 0, 0.25);*/
  background: lightyellow;
  margin: 5px;
}

.messageInfo {
  color: gray;
}

.messageContent {

}
